body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px 20px;
    color: black;
    background-color: whitesmoke;
    position: fixed; /* Add fixed positioning */
    top: 0; /* Position at the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays on top */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.company-name {
    font-size: 24px;
}

.company-tagline {
    font-size: 12px;
}

.hamburger-menu {
    display: none; /* Hide by default */
    flex-direction: column;
    cursor: pointer;
    color: black; /* Set color to black */
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
}

nav {
    visibility: hidden; /* Hide by default */
    opacity: 0; /* Hide by default */
    flex-direction: column;
    background-color: #444;
    position: absolute; /* Position the nav absolutely */
    top: 100%; /* Position it below the header */
    right: 0;
    width: 50%;
    max-height: 0; /* Initially collapsed */
    overflow: hidden; /* Hide overflow */
    transition: max-height 0.5s ease-out, visibility 0.5s, opacity 0.5s; /* Smooth animation */
}

nav.open {
    visibility: visible; /* Show when open */
    opacity: 1; /* Show when open */
    max-height: 50vh; /* Expand to half the viewport height */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px;
    text-align: center;
    color: white;
    border-bottom: 1px solid #555;
}

@media (min-width: 600px) {
    nav {
        visibility: visible; /* Show on larger screens */
        opacity: 1; /* Show on larger screens */
        display: flex; /* Show on larger screens */
        flex-direction: row;
        position: static; /* Reset positioning */
        width: auto; /* Reset width */
        max-height: none; /* Reset max-height */
        overflow: visible; /* Reset overflow */
        transition: none; /* Remove transition */
    }
    nav ul {
        flex-direction: row;
    }
    nav ul li {
        padding: 10px 20px;
        border: none;
    }
    .hamburger-menu {
        display: none; /* Hide on larger screens */
    }
}

@media (max-width: 599px) {
    .hamburger-menu {
        display: flex; /* Show on smaller screens */
    }
}

main {
    margin-top: 60px; /* Adjust this value based on the height of your header */
}

.service img {
    width: 100%;
    height: auto;
    max-width: 100%;
}
